@model CookingAppMVC.Models.Recipe
<h2>Recipe Details</h2>
<html>
<head>
    <style>
        body {
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: space-around;
            background-image: url("https://img.freepik.com/free-photo/top-view-beans-peppers-with-onions-garlics-dark-food-meal-ingredient-product_140725-33782.jpg");
        }

        .container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            margin-top: 90px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
        }

            table th, table td {
                padding: 10px;
                text-align: left;
            }


        .recipe-image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        html, body {
            overflow-x: hidden;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <th>Item</th>
                        <th>Detail</th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>@ViewBag.Category</td>
                    </tr>
                    <tr>
                        <td>Submission Date</td>
                        <td>@ViewBag.SubmissionDate</td>
                    </tr>

                    <tr>
                        <td>Ingredients</td>
                        <td>@Html.Raw(Model.Ingredients)</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                </table>



                
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                }

                @Html.ActionLink("Submit Feedback", "Feedback", new { id = Model.Id }, new { @class = "btn btn-secondary" })


            </div>
            <div class="col-md-6">
                <img src="@ViewBag.ImageURL" alt="Recipe Image" class="recipe-image" style="max-width: 25vw; height:50vh; object-fit:cover;" />
            </div>

        </div>
    </div>


</body>
</html>